<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Solway', serif;
    }

    form {
      padding-left: 0.25rem;
    }

    .profile-img {
      border-radius: 5.5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      cursor: pointer;
      -webkit-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
      -webkit-animation: eMLfYp 600ms linear;
      animation: eMLfYp 600ms linear;
    }

    .profile-img:hover {
      transform: translate3d(10px, 10px, 10px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 6px rgba(0, 0, 0, 0.46);
    }

    .card-body {
      padding: 0;
    }

    div.card-body.outer-body {
      margin-top: 5%;
      margin-left: 2%;
    }

    img.user-Profile-avatar {
      height: auto;
      width: 50%;
    }

    .form-group.user-Profile-name,
    .form-group.user-Profile-introduction {
      display: flex;
      flex-flow: column nowrap;
    }

    .media-avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 50px;
      max-height: 80px;
      resize: none;
    }

    textarea.form-control:focus {
      border-radius: 0;
      box-shadow: none;
      border-bottom: 2px solid #eee;
    }

    .form-control {
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      border-bottom: 2px solid #eee;
    }

    .card-body a {
      text-decoration: none;
    }

    .profile {
      padding: 15px;
      margin-top: 30px;
      box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
    }

    .profile img {
      width: 50%;
      height: 50%;
      object-fit: cover;
      border: 1px solid #e8e8e8;
      padding: 5%;
      border-radius: 3px;
      box-shadow: 0 3px 20px 11px rgba(0, 0, 0, 0.09);
    }

    .profile .top-sec {
      margin-top: -20%;
      margin-bottom: 5%;
    }

    .inner-body {
      display: flex;
      flex-flow: row nowrap;
    }

    .inner-body-link {
      margin-top: 0.12rem;
    }

    .inner-body-form {
      margin-bottom: 0.25rem;
    }

    .admin-page {
      width: 100%;
    }

    .sideNav-userEdit-link {
      color:  #5599FF;
    }
  </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand text-light" href="/">Twitter </a> <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="text-light fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {{#if localUser.isAdmin}}
          <a href="/admin" class="btn btn-primary" style="color: white;margin-right: 10px;">前往後台</a>
          {{/if}}
          {{#if localUser}}
          <span style="color: white;margin-right: 10px;">Hi, {{replace localUser.email}}</span>
          <a href="/users/{{localUser.id}}/tweets" class="btn btn-primary" style="color: white;margin-right: 10px;"><img
              src="{{localUser.avatar}}" class="media-avatar" alt="avatar" style=" width: 30px; height: 30px;"></a>
          <a href="/logout"><button class="btn btn-primary"
              class="btn btn-outline-success my-2 my-sm-0">LogOut</button></a>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <main role="main">
    <div class="album py-5">
      {{#if success_messages}}
      <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
        {{success_messages}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {{/if}}
      {{#if error_messages}}
      <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        {{error_messages}}
      </div>
      {{/if}}
      <div class="container row mx-auto">
        {{{body}}}
      </div>
    </div>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  function countCharacters() {
    let textEntered, countRemaining, counter;
    textEntered = document.getElementById('tweet').value;
    counter = (140 - (textEntered.length))
    countRemaining = document.getElementById('charactersRemaining');
    if (counter === 0) {
      countRemaining.className = "text-danger"
    } else {
      countRemaining.className = "text-muted"
    }
    countRemaining.textContent = `${counter} characters remaining`;
  }
</script>

</html>