<br>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="{{user.avatar}}" class="card-img-top" alt="{{user.name}}">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{user.name}}</h5>
            <p class="card-text">{{user.introduction}}</p>
            <br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Tweets : </strong>
                    <small>{{postLength userTweets}}</small>
                </li>
                <li class="list-group-item">
                    <strong>Following : </strong>
                    <small>14</small>
                </li>
                <li class="list-group-item">
                    <strong>Follower : </strong>
                    <small>10</small>
                </li>
                <li class="list-group-item">
                    <strong>Like : </strong>
                    <small>23</small>
                </li>
            </ul>
            <br>
            {{#if (eq isCurrentUser true)}}
            <button type="button" href="#" class="btn btn-primary">Edit Profile</button>
            {{/if}}
            {{#if (eq isCurrentUser false)}}
            <button type="button" href="#" class="btn btn-primary">Following</button>
            {{/if}}
        </div>
    </div>
    <div class="col-md-8">
        {{#each userTweets}}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{../user.avatar}}" class="card-img" alt="{{../user.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body outer-body">
                        <div class="card-body">
                            <a href="/users/{{../user.id}}/tweets" class="card-link"><strong>{{../user.name}}</strong></a>
                            <a href="#" class="card-link"><small>{{moment this.createdAt}}</small></a>
                        </div>
                        <p class="card-text">{{this.description}}</p>
                        <div class="card-body">
                            <a href="#" class="card-link">
                                <strong>Reply</strong>
                                <small>(2)</small>
                            </a>
                            <a href="#" class="card-link">
                                <strong>Like</strong>
                                <small>(3)</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>