{{> sideNav}}
<div class="col-lg-8 my-5">
  {{#each userTweets}}
  <div class="card flex-row mb-2">
    <div class="card-header bg-white my-auto border-0">
      <a href="/users/{{../user.id}}/tweets"><img src="{{../user.avatar}}" class="media-avatar" alt="avatar"></a>
    </div>
    <div class="card-body float-right my-2">
      <a href="/users/{{../user.id}}/tweets">
        <strong class="card-title">@{{../user.name}}
          {{#if ../user.isAdmin}}
          <i class="fas fa-user-secret text-muted"></i>
          {{/if}}
        </strong>
      </a>
      <span class="text-muted"> ‧ {{moment this.updatedAt}}</span>
      <p class="card-text">{{this.description}}</p>
      <div class="row">
        <a href="/tweets/{{this.id}}/replies" class="mr-3 btn btn-default bg-white text-primary border-0 ">Reply
          <small>({{this.replyCounts}})</small></a>
        {{#if (eq (isLikedTweets ../isLike this.id) true)}}
        <form action="/tweets/{{this.id}}/unlike" method="POST"><button type="submit"
            class="btn btn-default bg-white text-danger border-0"><i class="fas fa-heart"></i>Liked
            <small>({{this.likeCounts}})</small></button>
        </form>
        {{else}}
        <form action="/tweets/{{this.id}}/like" method="POST"><button type="submit"
            class="btn btn-default bg-white text-danger border-0"><i class="far fa-heart"></i>
            Like<small>({{this.likeCounts}})</small></button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
  <a href="javascript:history.back()">back</a>
</div>
<br />
<br />