{{> sideNav}}
<div class="col-lg-8 my-5">
  {{#each tweets}}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{this.userAvatar}}" class="card-img" alt="{{this.userName}}">
      </div>
      <div class="col-md-8">
        <div class="card-body outer-body">
          <div class="card-body">
            <a href="/users/{{this.UserId}}/tweets" class="card-link"><strong>{{this.userName}}</strong></a>
            <a href="#" class="card-link"><small>{{moment this.createdAt}}</small></a>
          </div>
          <p class="card-text">{{this.description}}</p>
          <div class="card-body inner-body">
            <a href="/tweets/{{this.id}}/replies" class="card-link inner-body-link">
              <strong>Reply</strong>
              <small>({{this.replyCounts}})</small>
            </a>
            {{#if (eq (isLikedTweets ../isLike this.id) false)}}
            <form action="/tweets/{{this.id}}/like" method="POST" class="inner-body-form inner-body-like">
              <button type="submit" class="btn btn-sm btn-link">
                <i class="far fa-heart"></i>
                <strong>Like</strong>
                <small>({{this.likeCounts}})</small>
              </button>
            </form>
            {{/if}}
            {{#if (eq (isLikedTweets ../isLike this.id) true)}}
            <form action="/tweets/{{this.id}}/unlike" method="POST" class="inner-body-form inner-body-unLike">
              <button type="submit" class="btn btn-sm btn-link">
                <i class="fas fa-heart"></i>
                <strong>Unlike</strong>
                <small>({{this.likeCounts}})</small>
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />
<br />
<a href="javascript:history.back()">back</a>