<div class="col-md-4 mt-5">
  <div class="card profile">
    <div class="top-sec">
      <img src="{{user.avatar}}">
    </div>
    <div class="span4 collapse-group">
      <div class="d-flex justify-content-around mb-2">
        <h2 class="card-title">{{user.name}}</h2>
        {{#if (eq isCurrentUser true)}}
        <button href="#" type="button" class="btn btn-success ml-5">
          Following
        </button>
        {{/if}}
      </div>
      <div class="m-3">
        <p>{{reduceLength user.introduction}}<span class="collapse" id="viewdetails3">
            {{remainLength user.introduction}}</span> <a data-toggle="collapse" data-target="#viewdetails3">...<i
              class="fas fa-angle-double-right"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 my-3">
  <div class="card profile">
    <li class="list-group-item border-0">
      <strong>{{postLength userTweets}}</strong>
      <span class="text-muted font-weight-light">Tweets</span>
    </li>
    <li class="list-group-item border-0">
      <strong>14</strong>
      <span class="text-muted font-weight-light">Following</span>
    </li>
    <li class="list-group-item border-0">
      <strong>10</strong>
      <span class="text-muted font-weight-light">Followers</span>
    </li>
    <li class="list-group-item border-0">
      <strong>23</strong>
      <span class="text-muted font-weight-light">Likes</span>
    </li>
  </div>
</div>
<div class="col-md-4">
  {{#if (eq isCurrentUser false)}}
  <button type="button" href="#" class="btn btn-primary" rows="3">Following</button>
  {{/if}}
</div>